nav {
    position: fixed;
    height: 60px;
    top: 0;
    right: 0;
    left: 0;
    background: darkblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .my-link {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }

  main {
    margin-top: 60px;
    padding: 0.5rem;
  }